<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品详情页</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="__HDIST__/Goods/Goods.css" />
</head>

<body>

    <div id="App">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <volist name="goodsImg" id="img">
                    <div class="swiper-slide">
                        <img src="{$img}" alt="">
                    </div>
                </volist>

            </div>
        </div>

        <div class="goods-info-head-card">
            <div class="title-row">

                <div class="goods-title">
                    <span>{$goods.goods_title}</span>
                </div>
                <div class="goods-like">
                    <i class="fa fa-heart-o"></i>
                    <div>未收藏</div>
                </div>

            </div>
            <div class="goods-sub-title">
                <span>{$goods.sub_title}</span>
            </div>

            <div class="goods-price-box">
                <div class="goods-price">
                    999/
                    <span class="z">赚99</span>
                </div>
            </div>
        </div>

        <div class="goods-content">
            {$goods.goods_content}
        </div>


    </div>

    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>

    <script src="__HDIST__/Goods/Goods.js"></script>


</body>

</html>