<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>分享红包</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="__HDIST__/ShareRed/ShareRed.css" />

    <style>
        .coupon-card {
            background-image: url(__ASSETS__/images/card-bg.png)
        }
    </style>
</head>

<body>


    <div class="header">
        <div class="img-mask"></div>
        <img class="header-bg" src="__ASSETS__/images/fx_bg.png" alt="">
    </div>

    <div id="App">
        <div class="app-body" :style="[{opacity:opacity}]">

            <div class="input-panel" v-if="!isLogin()">

                <input type="tel" v-model="user_phone" placeholder="请输入您的手机号" class="input">
                <div class="login-btn" @click="setPhone()">立即领取</div>
            </div>

            <div class="coupon-panel coupon-header" v-if="isLogin()">
                <div class="coupon-panel-header">
                </div>
                <div class="coupon-panel-body">
                    <div class="coupon-list">
                        <coupon-card v-if="myRecord && !is_max" title="拼手气红包" :info="myRecord.info" :price="myRecord.price"></coupon-card>
                        <coupon-card v-if="myRecord && is_max" title="拼手气红包" :info="myRecord.info" price="5"></coupon-card>
                    </div>
                    <div class="high-title fff">- 手气一般没关系，还有优惠送给你 -</div>
                    <!-- <div class="coupon-list"> -->
                    <!-- <coupon-card :title="coupon.title" :info="coupon.info" :price="coupon.price" v-for="(coupon,i) in giveCouponList" :key="i"></coupon-card> -->
                    <!-- </div> -->
                </div>
                <div class="coupon-panel-footer"></div>
            </div>

            <div class="coupon-bottom-info-box" v-if="isLogin()">
                <div class="coupon-bottom-info">
                    <div>红包已放至账户
                        <span class="phone" @click="clearPhone()">{{phone}}</span>
                    </div>
                    <div>登录App即可使用</div>
                    <div>下载App即可使用50元新人红包</div>
                </div>
                <a href="followenjoy://abc" class="big-btn">
                    <div>
                        <img class="icon" src="__ASSETS__/images/logo.png" alt=""> 打开随享季
                    </div>
                </a>
            </div>

            <div class="high-title red" v-if="isLogin()">
                <div class="title">看看朋友们手气如何</div>
            </div>

            <div class="user-list" v-if="isLogin()">
                <user-card :is-up="user.is_up" :price="user.price" :name="user.nickname" :info="user.info" :time="user.add_time" :img="user.headimgurl"
                    v-for="(user,i) in recordList" :key="i">
                </user-card>
                <div class="user-list-footer" v-if="!is_max">
                    只差一点点，大红包就是你的啦 ~
                </div>
            </div>

        </div>


    </div>

    <script type="text/x-template" id="coupon-card">

        <div class="coupon-card">
                <div class="coupon-card-body">
                    <div class="coupon-price">
                        <span class="icon">￥</span>
                        <span class="price">{{price}}</span>
                    </div>
                    <div class="coupon-info">
                        <div class="coupon-info-body">
                            <div class="title">{{title}}</div>
                            <ul class="info-list">
                                <li v-for="(item,i) in info" :key="i">· {{item}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="coupon-btn-box">
                        <div class="coupon-btn" @click.stop="go()">
                            立即使用
                        </div>
                    </div>
                </div>
            </div>

      </script>
    <script type="text/x-template" id="user-card">

        <div class="user-card">
            <div class="user-header">
                <img :src="img" alt="">
            </div>
            <div class="user-info-box">
                <div class="user-info-row">
                    <div class="user-name">{{name}}</div>
                    <div class="user-time">{{time}}</div>
                </div>
                <div class="user-info-row">
                    <div class="user-info clearfix">{{info}}</div>
                </div>
            </div>
            <div class="user-price-box">
                <div class="user-price">{{price}} 元</div>
                <span class="pull-right" v-if="isUp">
                        <i class="fa fa-thumbs-o-up"></i>
                        <span>手气最佳</span>
                    </span>
            </div>
        </div>

      </script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        var config = {
            m_api: '__MODULE__/',
            c_api: '__CONTROLLER__/',
            share_red_id: '{$share_red_id}',
            is_max: '{$is_max}',
            recordList: JSON.parse('{$recordList}'),
            myRecord: JSON.parse('{$myRecord}'),
        }

        console.warn(config);
        window['config'] = config;

    </script>

    <script src="__HDIST__/ShareRed/ShareRed.js"></script>



</body>

</html>